<?xml version="1.0"?>  
<config>  
    <modules>  
        <Kael_Qqlogin>  
            <version>0.1.0</version>  
        </Kael_Qqlogin>  
    </modules>  
    <frontend>
        <routers>
            <qqlogin>
                <use>standard</use>
                <args>
                    <module>Kael_Qqlogin</module>
                    <frontName>qqlogin</frontName>
                </args>
            </qqlogin>
        </routers>  
        <layout>
            <updates>
                <qqlogin>
                    <file>qqlogin.xml</file>
                </qqlogin>
            </updates>
        </layout>
    </frontend>
    <global>  
        <blocks>
            <qqlogin><class>Kael_Qqlogin_Block</class></qqlogin>
        </blocks>
        <helpers>  
            <qqlogin>  
                <class>Kael_Qqlogin_Helper</class>  
            </qqlogin>  
        </helpers>
        <resources>
            <qqlogin_setup>
                <setup>
                    <module>Kael_Qqlogin</module> 
                    <class>Mage_Customer_Model_Entity_Setup</class> 
                </setup>
                <connection>
                    <use>core_setup</use> 
                </connection>
            </qqlogin_setup>
        </resources> 
    </global>  
    <adminhtml>
           <acl>
               <resources>
                   <admin>
                       <children>
                           <system>
                               <children>
                                   <config>
                                       <children>
                                           <qqlogin_options>
                                               <title>QQ LOGIN CONFIG</title>
                                           </qqlogin_options>
                                       </children>
                                   </config>
                               </children>
                            </system>
                        </children>
                   </admin>
               </resources>
           </acl>
    </adminhtml>
</config>  