<?xml version="1.0"?>
<config>
	<modules>
		<MyLogin_LoginM>
			<version>0.0.1</version>
		</MyLogin_LoginM>
	</modules>
	<frontend>
		<routers>
			<loginm>
				<use>standard</use>
				<args>
					<module>MyLogin_LoginM</module>
					<frontName>loginm</frontName>
				</args>
			</loginm>
		</routers>
	</frontend>

</config>